{%extends 'myapp/layout.html'%}
{% load humanize %}
{%block body%}



<h1 class="index-title">Top 10 Cryptocurrencies</h1>
<table class="table mt-3 crypto">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">1h%</th>
            <th scope="col">24h%</th>
            <th scope="col">7d%</th>
            <th scope="col">Market Cap</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{1stname}} ({{1stsymbol}})</td>
            <td>${{1stprice|floatformat:2|intcomma}}</td>
            <td>{{1stpchange1h|floatformat:2}}%</td>
            <td>{{1stpchange24h|floatformat:2}}%</td>
            <td>{{1stpchange7d|floatformat:2}}%</td>
            <td>${{1stmcap}}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>{{2ndname}} ({{2ndsymbol}})</td>
            <td>${{2ndprice}}</td>
            <td>{{2ndpchange1h|floatformat:2}}%</td>
            <td>{{2ndpchange24h|floatformat:2}}%</td>
            <td>{{2ndpchange7d|floatformat:2}}%</td>
            <td>${{2ndmcap}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>{{3rdname}} ({{3rdsymbol}})</td>
            <td>${{3rdprice}}</td>
            <td>{{3rdpchange1h|floatformat:2}}%</td>
            <td>{{3rdpchange24h|floatformat:2}}%</td>
            <td>{{3rdpchange7d|floatformat:2}}%</td>
            <td>${{3rdmcap}}</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>{{4thname}} ({{4thsymbol}})</td>
            <td>${{4thprice}}</td>
            <td>{{4thpchange1h|floatformat:2}}%</td>
            <td>{{4thpchange24h|floatformat:2}}%</td>
            <td>{{4thpchange7d|floatformat:2}}%</td>
            <td>${{4thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>{{5thname}} ({{5thsymbol}})</td>
            <td>${{5thprice}}</td>
            <td>{{5thpchange1h|floatformat:2}}%</td>
            <td>{{5thpchange24h|floatformat:2}}%</td>
            <td>{{5thpchange7d|floatformat:2}}%</td>
            <td>${{5thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>{{6thname}} ({{6thsymbol}})</td>
            <td>${{6thprice}}</td>
            <td>{{6thpchange1h|floatformat:2}}%</td>
            <td>{{6thpchange24h|floatformat:2}}%</td>
            <td>{{6thpchange7d|floatformat:2}}%</td>
            <td>${{6thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>{{7thname}} ({{7thsymbol}})</td>
            <td>${{7thprice}}</td>
            <td>{{7thpchange1h|floatformat:2}}%</td>
            <td>{{7thpchange24h|floatformat:2}}%</td>
            <td>{{7thpchange7d|floatformat:2}}%</td>
            <td>${{7thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>{{8thname}} ({{8thsymbol}})</td>
            <td>${{8thprice}}</td>
            <td>{{8thpchange1h|floatformat:2}}%</td>
            <td>{{8thpchange24h|floatformat:2}}%</td>
            <td>{{8thpchange7d|floatformat:2}}%</td>
            <td>${{8thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>{{9thname}} ({{9thsymbol}})</td>
            <td>${{9thprice}}</td>
            <td>{{9thpchange1h|floatformat:2}}%</td>
            <td>{{9thpchange24h|floatformat:2}}%</td>
            <td>{{9thpchange7d|floatformat:2}}%</td>
            <td>${{9thmcap}}</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>{{10thname}} ({{10thsymbol}})</td>
            <td>${{10thprice}}</td>
            <td>{{10thpchange1h|floatformat:2}}%</td>
            <td>{{10thpchange24h|floatformat:2}}%</td>
            <td>{{10thpchange7d|floatformat:2}}%</td>
            <td>${{10thmcap}}</td>
        </tr>

    </tbody>
</table>




{%endblock%}